.container {
    background-color: $maingreen;
    border: 1px dashed orange;
    display: flex;
    justify-content: space-between;

    .contacts {
        border: 1px dashed orange;
        display: inline-block;
        margin: 25px;
        padding: 25px;
        
        .title {
                color: white;
                font-size: 30px;
                font-weight: bold;

            }

            .links_footer {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                .lin_ {
                    text-decoration: none;
                    color: orange;
                    padding: 5px 0;
                    font-size: 12px;
                }

            }
        .container_{
            margin: 25px -15px;
            color: white;
        }
    }

    .mapouter {
        border: 1px dashed orange;
    }

    
}


.footer {
    margin-top: 200px;
}
