.logo {
    font-weight: bold;
    font-size: 25px;
    color: $secgreen;
    padding: 5px 90px;
}

.lo {
    font-size: 20px;
    border-radius: 3px;
    padding: 1px 4px 1px 3.5px;
    background-color: $secgreen;
    color: white;
}

.links {
    padding: 5px 90px;
}