html {
  font-size: 100%;
  /* lets the user control the zoom level in the browser */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-js-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.header {
  border: 1px dashed green;
  margin: 10px;
  padding: 5px;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  color: hsl(134deg, 12%, 49%);
  padding: 5px 90px;
}

.lo {
  font-size: 21px;
  border-radius: 3px;
  padding: 1px 4px 1px 3.5px;
  background-color: hsl(134deg, 12%, 49%);
  color: white;
}

.links {
  padding: 5px 90px;
}
.links a {
  padding: 2px 5px;
  text-decoration: none;
  color: orange;
  font-weight: regular;
  margin: 10px 10px;
  font-size: 13px;
  transition: 0.05s ease-in-out;
}
.links a:hover {
  color: green;
  font-weight: bold;
}

.lol {
  font-size: 14px;
}

.hero {
  border: 1px dashed green;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.Title {
  font-size: 40px;
  font-weight: bold;
  color: hsl(134deg, 12%, 49%);
  margin: 80px 0 20px 0;
}

h4 {
  font-weight: normal;
  font-size: 12px;
  margin: 0;
  padding: 5px 15px 5px 15px;
  color: hsl(134deg, 12%, 49%);
}

Button {
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.29);
  cursor: pointer;
  padding: 10px 24px;
  text-transform: uppercase;
  font-size: 12px;
}

.button1 {
  background-color: white;
  border: 2px solid hsl(127deg, 9%, 41%);
  color: hsl(127deg, 9%, 41%);
  margin-right: 15px;
}

.button2 {
  background-color: hsl(127deg, 9%, 41%);
  border: 2px solid hsl(127deg, 9%, 41%);
  padding: 10px 35px;
  color: white;
}

.button1:hover {
  background-color: hsl(127deg, 9%, 41%);
  border: 2px solid hsl(127deg, 9%, 41%);
  color: white;
  transition: 0.12s ease-in-out;
}

.button2:hover {
  background-color: white;
  border: 2px solid hsl(127deg, 9%, 41%);
  color: hsl(127deg, 9%, 41%);
  transition: 0.2s ease-in-out;
}

.box {
  border: 1px dashed orange;
  margin: 10px 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .first, .box .second {
  border: 1px dashed orange;
  margin: 10px 10px;
  padding: 15px;
}
.box .words {
  border: 1px dashed green;
  width: 302px;
  margin-bottom: 10px;
}

.img img {
  width: 500px;
}

.container {
  background-color: hsl(127deg, 9%, 41%);
  border: 1px dashed orange;
  display: flex;
  justify-content: space-between;
}
.container .contacts {
  border: 1px dashed orange;
  display: inline-block;
  margin: 25px;
  padding: 25px;
}
.container .contacts .title {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.container .contacts .links_footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container .contacts .links_footer .lin_ {
  text-decoration: none;
  color: orange;
  padding: 5px 0;
  font-size: 12px;
}
.container .contacts .container_ {
  margin: 25px -15px;
  color: white;
}
.container .mapouter {
  border: 1px dashed orange;
}

.footer {
  margin-top: 200px;
}/*# sourceMappingURL=style.css.map */